@keyframes slide-down {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: slide-down, fade-in;
}

.banner {
  height: 512px;
  position: relative;
  overflow: hidden;
}

.banner__image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  animation-name: fade-in;
  opacity: 0;
  animation-duration: 3s;
  animation-delay: 1s;
}

.banner__header {
  @include center(both);
  width: 100%;
  z-index: $z-index-header;

  .banner__header--title {
    letter-spacing: 2px;
    margin-bottom: $gl-spacing-3;
  }

  .banner__header--description {
    font-weight: $font-weight--normal;
    padding: 0 $gl-spacing-4;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba(115, 67, 198, .9) 0%, rgba(141, 70, 204, .75) 100%);
}

.bg-dark {
  background: $gray-50;
  border-top: $border-width solid $gray-100;
  border-bottom: $border-width solid $gray-100;
}

.index {
  p {
    @include type-scale(1, 6, 2, 0);
  }

  h2 {
    @include type-scale(4, 6, 3);
  }

  h3 {
    @include type-scale(6, 8, 2);
  }
}

.contribute-row {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contribute-copy {
  min-width: 320px;
  flex: 0 0 60%;
  max-width: 60%;
}

.contribute-img {
  flex: 0 0 40%;
  max-width: 40%;

  img {
    width: 100%;
  }
}
